body {
  background: linear-gradient(to right, #2a2a84, #1cb5e0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.main-logo {
  height: 75px;
  width: 75px;
  background-color: darkgrey;
  border-radius: 50%;
  background-image: none;
  background-size: cover;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
